 .customList div {
     position: absolute;
     display: flex;
     flex-direction: column;
     max-width: max-content;
     max-height: 30vh;
     overflow-y: auto;
     display: none;
 }

 .customList a {
     text-decoration: none;
     color: white;
     padding: 10px;
     background-color: #3b3046;
 }

 .customList a:hover {
     background-color: blueviolet;
 }