 .customList ul {
     position: absolute;
     margin: 0;
     padding: 0;
     max-height: 30vh;
     overflow-y: auto;
     display: none;
     background-color: #3b3046;
 }

 .customList ul li {
     list-style: none;
     padding: 0.20rem 1rem;
     margin: 0;
 }

 .customList ul li a {
     text-decoration: none;
     color: white;
     line-height: 1.5rem;
 }

 .customList ul li:hover {
     background-color: blueviolet;
 }